.goods-list{
    padding: 20px;
    width: 200px;
    height: auto;
    background-color: darkseagreen;
    border: 1px #000000 solid;
}
.goods-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h3{
    font-size: 24px;
    margin: 0;
}
p{
    font-size: 24px;
    margin: 0;
}